{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      West Wicklow Walks: Local guide to walking in west wicklow </p>
  </div>
</section>