{{> menu}}


 <section class="section">
  <div class="container">
     <h1 class="title major-mono-display-regular title-green">
      {{location.title}}
    </h1>
    {{> add-details}}
   
  </div>

 

<div class="container">
  <a href="/dashboard" class="button">Back</a>
</div>