{{> menu active="dashboard"}}

<section class="section">
  <h1 class="title is-1 title-green content has-text-left location-title"> My Locations</h1>
  <br>
  {{> list-locations }}
  {{> add-location}}
</section>