{{> menu}}

<section class="section">
  <div class="container">
    <h1 class="title">{{location.title}}</h1>
    <!-- Display location details here -->
  </div>
  
  <!-- Add forms/sections for uploading photos, leaving reviews, and stating walk duration -->
</section>
