{{#if isAuthenticated}}
  {{> menu active="home"}}
{{else}}
  {{> welcome-menu active="home"}}
{{/if}}



<div class="columns is-multiline">
  <div class="column is-6">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="/public/images/forest1.jpg" alt="Forest 1">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered location-title">
          Glending
        </div>
      </div>
    </div>
  </div>

  <div class="column is-6">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="/public/images/forest2.jpg" alt="Forest 2">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered location-title">
          Avon
        </div>
      </div>
    </div>
  </div>

  <div class="column is-6">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="/public/images/forest3.jpg" alt="Forest 3">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered location-title">
          Russelstown
        </div>
      </div>
    </div>
  </div>

  <div class="column is-6">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="/public/images/forest4.jpg" alt="Forest 4">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered location-title">
          Russborough
        </div>
      </div>
    </div>
  </div>
</div>