/* main.css */
/* placename-brand.hbs*/


.logo-image {
    height: 300px; 
    width: 1380px;
    border: none;
    margin: 0; 
    padding: 0;
  }

/* welcome-menu.hbs*/
.custom-navbar, .navbar-menu {
    background-color: #2d2d2d; /* Dark gray */
  }
  
  .navbar-menu {
    justify-content: flex-end; /* Ensure menu items are aligned to the right */
  }
  
  .navbar-brand {
    flex-grow: 1;
    justify-content: center; /* Center the brand/logo */
  }

  .navbar-item .buttons .button { /* colour and margin of buttons on navbar */
    margin-right: 10px;
    background-color: #DCEDC2;
    color: #2d2d2d;
  }
  
  /* Site-wide button styling */
.button {
  background-color: #DCEDC2; /* Light green */
  color: #2d2d2d; /* Dark gray */
  border: none; /* Removes the default border */
  cursor: pointer; /* Changes cursor to pointer on hover */
  padding: 10px 15px; /* Adjusts padding for better sizing */
  text-align: center; /* Ensures text is centered */
  text-decoration: none; /* Removes underline from links styled as buttons */
  display: inline-block; /* Allows setting dimensions */
  font-size: 16px; /* Adjusts font size */
  margin: 4px 2px; /* Adds some space around buttons */
  transition-duration: 0.4s; /* Smooth transition for hover effect */
}

.button:hover {
  background-color: #46543a; /* Slightly darker green for hover effect */
}

/* Forms */
/* Adjust the form container to align with the brand image */
.form-container .input-field {
  max-width: 400px;
  margin: auto;
  display: block;
}

.is-my-green {
  color: #DCEDC2
}

/* Style for the input box */
.location-input {
  max-width: 400px; /* Adjust the width as necessary */
  background-color: #DCEDC2; /* Light green background */
  color: #2d2d2d; /* Dark grey text */
  border-color: #DCEDC2;
}

/* Locations container */
.locations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  align-items: stretch;
 

}

.location-box {
  flex-basis: 30%; /* How many boxes in a row */
  margin-bottom: 1rem; /* Space between the boxes */
}

.title-green {
  color: #DCEDC2; 
}

.title-grey {
  color: #2d2d2d;
}


.label-green {
  color: #DCEDC2; 
}

form .input-green {
  background-color: #DCEDC2;
  border-color: #DCEDC2;
  color: #2d2d2d;
}

.location-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.welcome-menu-container {
  margin-bottom: 2rem; 
}

/* Photo carousel */

.carousel-container {
  position: relative;
  width: 100%; 
  margin: auto; 
  margin-bottom: 20px;
}

.image-carousel {
  width: 80%;
  margin: auto;
  display: flex;
  overflow: hidden;
}

.image-carousel .image {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.image-carousel img {
  display: block;
  width: 100%;  
  height: auto; 
  margin: 0;
}



.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #DCEDC2; 
  color: #2d2d2d; 
  font-size: 64px;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
  border-radius: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.arrow:hover {
  color: #DCEDC2; 
  background-color: #2d2d2d; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.25); 
}

.prev {
  left: -5px;
}

.next {
  right: -5px;
}


.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  padding: 10px 0;
  overflow-x: auto;
}

.thumbnails img {
  width: 180px; 
  height: auto;
  margin-right: 6px;
  cursor: pointer;
  
}

.thumbnails img:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #DCEDC2;
  text-align: center;
  padding: 5px 0; 
  font-size: 1em; 
}


/* Font for Location Title */
.major-mono-display-regular {
  font-family: "Major Mono Display", monospace; /* Ensure fallback to monospace if Google Fonts fail to load */
  font-size: 4.5rem;
  border-radius: 4px;
  padding: 5px 10px; 
  line-height: 2.2;
  letter-spacing: 1px;
  margin-top: -30px;
}

/* Details */

.detail-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Maintains horizontal spacing between cards */
  margin-bottom: 30px; /* Adds space below the container for all cards */
}

.detail-card {
  flex: 1; /* Ensures that each card takes up equal space */
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
  min-height: 150px; /* Ensures minimum height for visual consistency */
}

/* Specific styling for the review card to add more vertical space */
.review-card {
  width: 100%; /* Takes full width of the container */
  margin-top: 20px; /* Adds space above the review card */
  padding: 20px; /* Ensures padding inside the review card */
  background-color: transparent;
  color: #DCEDC2;
  font-style: italic;
  border-radius: 8px;
}

.review-card p {
  margin-bottom: 10px; /* Adds space between paragraphs */
}

.reviewer {
  font-style: normal; /* Normal font style for reviewer */
  color: #bbb; /* Slightly darker color for emphasis */
}

.detail-title {
  font-family: "Major Mono Display", monospace;
  color: #4A4A4A;
  font-size: 2rem;
  margin-bottom: 5px;
}

.detail-info {
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #2d2d2d;
  color: #DCEDC2; 
  margin-bottom: 10px;
}

.about-title {
  font-size: 2rem;
  font-family: monospace;
  background-color: #DCEDC2;
  color: #4A4A4A;
  margin-bottom: 10px;
  margin-top: -50px;
}

.about-text {
  font-size: 1rem;
  text-align:justify;
  font-family: monospace;
  color: #4A4A4A;
  margin-bottom: 10px;
  margin-top: 20px;

}

.delete-btn {
  margin-top: 10px; /* Space above the delete button */
}

@media (max-width: 768px) {
  .detail-cards {
    flex-direction: column;
  }

  .detail-card {
    flex-basis: 100%; /* Each card takes full width on smaller screens */
  }
}

/* Review settings */
.review-carousel-container {
  position: relative;
  margin: auto;
  overflow: visible;
}

.review-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: visible;
}

.review-slide {
  min-width: 100%; 
  padding: 0px 100px;
  box-sizing: border-box;
  text-align: center;
  overflow: visible;
}

.review-title {
  font-family: monospace;
  font-size: 2rem;
  margin-bottom: 10px; 
}

.reviewer {
  font-family: monospace;
  font-size: 1rem;
  margin-bottom: 10px;
}

.review-date {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.review-rating {
  font-size: 2.5rem; 
  margin-top: 10px; 
}

.star-rating {
  color:#DCEDC2;
  margin-bottom: 10px;
}

/* Review arrows */

.prev-review {
  left: -5px;
}

.next-review {
  right: -5px;
}


/* Read-more settings */

.review-content {
  flex-grow: 3;
  position: relative;
  font-family: monospace;
  font-style: italic;
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 30px; 
  transition: max-height 0.5s ease;
  
}

.review-content.collapsed {
  max-height: 120px;
  
}

.more-text {
  display: none;
  background:#2d2d2d; /* temporary cover-up to user name and date from view */
}

.read-more-link {
  color: #3273dc;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
}









