<nav class="navbar custom-navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-justify-content-center">
    {{> placename-brand}}
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="about" class="button" href="/about">About</a>
          <a id="dashboard" class="button" href="/dashboard">Dashboard</a>
          <a id="logout" class="button" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>