<!DOCTYPE html>
<html lang="en-IE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/siema@1.5.1/dist/siema.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <style>
    body, html {
      background-color: #2d2d2d; /* Dark gray background */
      height: 100%;
      margin: 0;
      color: #DCEDC2; /* Light text color for contrast */
    }
    .container {
      padding-top: 2rem; /* Add space at the top */
    }
  </style>
  </head>
  <body>
    <div class="container">
      {{{content}}}
      {{> error }}
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var mySiema = new Siema();
        // Initialize carousels
        var imageCarousel = new Siema({
            selector: '.image-carousel', 
            perPage: 1,
            loop: true
        });

        var reviewCarousel = new Siema({
            selector: '.review-carousel', 
            draggable: true,
            perPage: 1,
            loop: true
        });

        // Image Carousel controls
        document.querySelector('.prev').addEventListener('click', () => imageCarousel.prev());
        document.querySelector('.next').addEventListener('click', () => imageCarousel.next());

        // Review Carousel controls
        document.querySelector('.prev-review').addEventListener('click', () => reviewCarousel.prev());
        document.querySelector('.next-review').addEventListener('click', () => reviewCarousel.next());
   

        // Function to change slide from thumbnails
       
        document.querySelectorAll('.thumbnails img').forEach((thumbnail, index) => {
          thumbnail.addEventListener('click', () => imageCarousel.goTo(index));
        });
       

        // Read More Functionality
        document.querySelectorAll('.read-more-link').forEach(link => {
          link.addEventListener('click', function (e) {
            e.preventDefault();
            var moreText = this.previousElementSibling;
            var isCollapsed = moreText.style.display === 'none' || moreText.style.display === '';
            if (isCollapsed) {
              moreText.style.display = 'inline';  // Show the full text
              this.textContent = 'read less...';  // Change the link text to 'read less...'
            } else {
              moreText.style.display = 'none';    // Hide the text again
              this.textContent = 'read more...';  // Change the link text back to 'read more...'
            }
            });
          });
        });

    </script>
  </body>
</html>
